.editCoursePage {
    padding: 20px;
    font-family: var(--poppins);
    background-color: #EAEEF3;
}


.editCoursePageGrid {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 30px;
}

.editCourseCol1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}
.editCourseCol2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}


.editCourseContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.editCourseRQuill .ql-editor {
    min-height: 200px;
}

.editCourseRQuill .ql-toolbar.ql-snow {
    border: 1px solid var(--border-subtle);
    border-bottom: none;
}

.editCourseRQuill .ql-container.ql-snow {
    border: 1px solid var(--border-subtle);
    border-top: none;
}

.editCourseRQuill .ql-editor.ql-blank::before {
    font-style: normal;
}

.courseMediaUpload {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 20px;
    align-items: flex-start;
}

@media only screen and (max-width: 600px) {
    .courseMediaUpload {
        grid-template-columns: 1fr;
    }
}