.authContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.loginChildContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 700px;
    border-radius: 20px;
    padding: 20px 40px;
    overflow: hidden;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
}

.loginImgDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
}

.loginMainHeader {
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 30px;
    color: var(--text-subtle);
}

.allInputs {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    border-collapse: collapse;
    border-radius: 5px;
    position: relative;
}

.inputDiv.grayed {
    box-shadow: none;
    background-color: var(--adminMainBackground);
}

.inputDiv.whiteBG {
    background-color: var(--monochrome);
}

.inputDiv.withShadow {
    box-shadow: var(--adminSmallShadow);
}

.inputDiv>svg {
    width: 50px;
    color: var(--text);
}

.inputDiv>input {
    background-color: transparent;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 12px 40px 12px 15px;
    width: 100%;
    color: var(--text-emphasis);
}

.inputDiv.nopad>input {
    padding: 10px 0;
}

.inputDiv>input::placeholder {
    font-size: 14px;
    color: var(--text-muted);
}

.inputDiv.grayed>input::placeholder {
    color: rgb(105, 105, 105);
}

.inputDiv>input:-internal-autofill-selected {
    background-color: transparent !important;
}

.inputDiv>.inputIcon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordEyeBtn {
    position: absolute;
    top: 0;
    right: 5px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 25%);
    cursor: pointer;
}
.submitButton {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

/* 

.submitButton>button {
    width: 100%;
    color: var(--text-emphasis);
    border-radius: 5px;
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-subtle);
    outline: none;
    font-size: 16px;
    padding: 10px;
    transition: all .3s ease;
}
.submitButton>button:hover {
    border: 1px solid var(--border-emphasis);
    background-color: var(--bg-emphasis);
} */

.forgotPasswordLink {
    font-family: var(--poppins);
    color: var(--main);
    align-self: flex-end;
}


.loginButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    row-gap: 20px;
}

.loginButtons>button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    column-gap: 20px;
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-subtle);
}

.loginButtons>button>svg,
.registerAltButton>button>svg {
    font-size: 25px;
    color: inherit;
}

.loginButtons>button>span {
    font-size: 16px;
    color: inherit;
}



/* register page  */

.registerChildContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 40px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
}

.registerChildContainer::-webkit-scrollbar {
    display: none;
}

.registerFormDiv {
    width: 100%;
}


.registerInputGrid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    row-gap: 20px;
    column-gap: 15px;
    width: 100%;
}

.rInputDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: .5px solid var(--border-subtle);
    border-radius: 5px;
    background-color: var(--bg-muted);
}

.rInputDiv>svg {
    width: 50px;
}

.rInputDiv>input {
    width: 100%;
    padding: 12px 5px;
    outline: none;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg-muted);
    font-weight: 400;
}

.registerInputGrid>div>input::placeholder {
    color: rgb(170, 170, 170);
}

.termsCondition {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    gap: 10px;
    padding: 10px 0;
}

.termsCondition>input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.termsCondition>label {
    font-size: 16px;
}

.registerButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerButton>div {
    width: 70%;
}

.registerButton>div>button {
    padding: 15px 0;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    color: var(--text);
    border-radius: 100px;
    width: 100%;
}

.alternateText {
    font-size: 12px;
    color: var(--text-muted);
    font-weight: 500;
    margin: 15px 0;
}

.registerAltButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px 20px;
}

.sidedSocialButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.registerAltButton .facebookBTN,
.registerAltButton .twitterBTN,
.registerAltButton .googleBTN {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    border-radius: 50px;
    column-gap: 20px;
    border: 1px solid var(--border);
}

.goToLoginText {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 10px;
}

.loginLinkText {
    color: var(--main);
}


/* forgot password page  */
.forgetPassPage {
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassContainer {
    width: 500px;
    background-color: var(--bg-muted);
    border-radius: 15px;
    border: 1px solid var(--border-subtle);
}

.forgotPageForm {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.otpVerifiedDiv,
.otpNotVerifiedDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 15px;
    width: 80%;
    padding: 20px 0;
    overflow: hidden;
    transition: left .5s ease-in-out;
    position: relative;
    top: 0;
}

.forgotPageForm.notVerified .otpVerifiedDiv {
    left: 500px;
    height: 0;
    padding: 0;
}

.forgotPageForm.otpVerified .otpNotVerifiedDiv {
    left: 0;
}

.forgotPageForm.otpVerified .otpVerifiedDiv {
    left: 0;
}

.forgotPageForm.otpVerified .otpNotVerifiedDiv {
    left: -500px;
    height: 0;
    opacity: 0;
    padding: 0;
}

.forgotPassHeading {
    font-family: var(--poppins);
    color: var(--main);
    font-size: 22px;
    font-weight: 400;
}

.forgotEmailDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    font-family: var(--poppins);
    margin-top: 10px;
}

.forgotEmailDiv>label {
    font-size: 16px
}

.forgotEmailDiv>input {
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-subtle);
    outline: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.forgotEmailDiv>input:focus {
    border-color: var(--main);
}

.forgotPassOTPDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.forgotSendOTP {
    padding: 10px 20px;
    color: var(--text-emphasis);
    border-radius: 5px;
    background-color: var(--main) !important;
}

.verifyOtpDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.resendOTPBtn {
    color: var(--main);
    font-family: var(--poppins);
    font-weight: 500;
}

/* otp verify page  */
.otpVerifyPage {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otpFormPage {
    width: 500px;
    background-color: var(--bg-muted);
    border-radius: 10px;
    border: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
}

.verifyOtpHeading {
    font-family: var(--poppins);
    color: var(--main);
    font-weight: 600;
    font-size: 16px;
}

.otpVerifyInput {
    border: 1px solid var(--border-subtle);
    outline: none;
    padding: 10px 12px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    font-family: var(--poppins);
    background-color: var(--bg-subtle);
}

.otpVerifyInput:focus {
    border-color: var(--main);
}

.otpAndResend {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.otpAndResend>p {
    color: var(--main);
    font-family: var(--poppins);
    font-size: 12px;
    cursor: pointer;
}

.verifyOtpBtn {
    color: white;
    padding: 12px 0;
    width: 100%;
    background-color: var(--main) !important;
}

/* afiiliate register  */
.affiliateForm {
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}

.affiliateFormSide2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



@media only screen and (max-width: 800px) {

    /* auth  */
    .authContainer {
        position: relative;
        width: 100%;
    }

    /* login page  */
    .loginChildContainer {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        border-radius: 0;
    }

    /* register page  */
    .registerChildContainer {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 100%;
        padding: 30px 0;
        border-radius: 0;
    }

    .registerChildContainer {
        grid-template-columns: minmax(100px, 1fr);
        overflow-y: auto;
    }

    .registerSlider {
        display: none;
    }

    .registerInputGrid {
        grid-template-columns: minmax(100px, 1fr);
    }

    .registerInputGrid>div>input {
        border: 1px solid #eaeaea;
    }

    .registerButton>div {
        width: 100%;
    }

    .registerAltButton>button {
        width: 90%;
    }

    .alternateText {
        margin: 30px 0;
    }

    .goToLoginText {
        padding: 20px 0;
    }
}