/* lazy loading  */
.fullSizeLazy {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullImgCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fullSizeLazy.imgCover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* date style  */
.dateDay {
    text-align: center;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


.dateDay.orginalDay {
    cursor: pointer;
}

/* badge styles  */
.badgeSM {
    width: min-content;
    padding: 6px 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 500px;
}

.successBadge {
    color: var(--text-success);
    background-color: var(--bg-success);
}

.errorBadge {
    color: var(--text-error);
    background-color: var(--bg-error);
}

.warningBadge {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}


/* tab style  */
.tabMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

/* .tabMenu.whiteBG {
    background-color: var(--monochrome);
} */

.tabMenu>p {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

.tabMenu.roundSM {
    border-radius: 5px;
    overflow: hidden;
}

.tabMenu.withShadow {
    /* box-shadow: var(--adminSmallShadow); */
}

.tabMenu>p.flexed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tabMenu.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4554;
}

.tabMenu>p.active {
    color: var(--text-emphasis);
    background-color: var(--bg);
}


/* profile page  */
.TSProfilePage {
    min-height: 100%;
    background-color: var(--bg);
    padding: 20px;
}

.TSProfileHeading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.TSProfileHeading.mt20 {
    margin-top: 20px;
}

.TSProfileMain {
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    display: grid;
    grid-template-columns: 180px 1fr 2fr;
    padding: 20px;
    gap: 20px;
    overflow: hidden;
}

.TSProfileImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.TSProfileImage>img {
    width: 70%;
    object-fit: cover;
}


.TSProfileImage>h4.name {
    font-size: 16px;
    font-weight: 600;
}

.TSProfileCData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    gap: 10px;
}

.TSProfileCData>h4 {
    font-size: 16px;
    font-weight: 500;
}



.TSProfileSkills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 0;
}

.TSProfileSkills>.title {
    font-size: 16px;
    font-weight: 500;
}


.profileSkillsBadges {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.profileSkillsBadges>.item {
    background-color: var(--bg-subtle);
    color: var(--text);
    border: 1px solid var(--border-subtle);
    font-size: 12px;
    border-radius: 50px;
    padding: 8px 20px;
}

.TSProfileBio {
    width: 100%;
    padding: 20px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    border-radius: 10px;
}

.TSProfileBio>p {
    font-size: 16px;
    white-space: break-spaces;
}



/* teacher quiz page  */
.quizAttmptInfo>.attemptTime {
    font-size: 12px;
    color: rgb(153, 153, 153);
}

.quizAttmptInfo>.quizName {
    font-size: 17px;
    color: #333;
    font-weight: 500;
}

.quizAttmptInfo>.student {
    margin-top: 5px;
    font-size: 12px;
    color: #222;
    font-weight: 500;
}

.quizAttmptInfo>.student>span {
    margin-top: 5px;
    font-size: 12px;
    color: #777;
    font-weight: 400;
}

.quizAttemptTD>p {
    text-align: center;
}

.quizAttemptTH>p {
    text-align: center;
}

/* student quiz attempts page  */
.quizAttemptTheadRow>th>p {
    font-size: 16px;
    letter-spacing: .5px;
    color: var(--text-emphasis);
    font-weight: 500;
}

.quizAttmptInfo>.time {
    font-size: 12px;
    color: var(--text-subtle);
}

.quizAttmptInfo>.title {
    font-size: 17px;
    font-weight: 500;
    color: var(--text);
}
 
.qaShowDetails {
    padding: 5px 10px;
    border-radius: 5px;
    width: min-content;
    cursor: pointer;
    transition: all .8s cubic-bezier(0.075, 0.22, 0.185, 1);
    background-color: var(--bg-subtle);
    color: var(--text);
    border: 1px solid var(--border);
}

.qaShowDetails:hover {
    background-color: var(--bg-emphasis);
    color: var(--text);
    border: 1px solid var(--border);
}

/* settings page  */
.TSSettingPage {
    background-color: var(--bg);
    width: 100%;
    padding: 20px;
}


/* setting page - inputs & input  groups  */
.STPFormGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
    padding-top: 30px;
}

.TwoInputGridGroup {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.SPTInputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.SPTInputGroup>.label {
    font-size: 12px;
    font-weight: 500;
}




/* profile tab - setting page  */


.SettingsProfileTab {

    padding-top: 20px;
}


.SPTProfileUploadContainer {
    width: 100%;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    border-radius: 10px;
    display: grid;
    align-items: center;
    padding: 20px;
    gap: 20px;
    grid-template-columns: 230px 1fr;
}

.profilePhoto {
    padding: 5px;
    width: 100%;
    height: 230px;
    overflow: hidden;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    border-radius: 10px;
}

.profilePhoto>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.profileMenuBtns {
    border-radius: 5px;
    width: 100%;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.actionButton {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
}

.actionButton.upload:hover {
    color: var(--monochrome);
    background-color: var(--info);
}

.actionButton.delete:hover {
    color: var(--monochrome);
    background-color: var(--error);
}

.coverImgDiv {
    padding: 10px;
    width: 100%;
    height: 230px;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    border-radius: 10px;
    overflow: hidden;
}

.coverImgDiv>img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.uploadCoverBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}

.coverMenuBtn {
    width: 200px;
    border-radius: 5px;
    background-color: var(--adminMainBackground);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
}

/* certificate upload area - setting page */
.certificateHeading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

.certificateUploadArea {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    border-radius: 10px;
    height: 220px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    padding: 10px;
    gap: 20px;
}

.certificateImageDiv {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #777;
    background-color: #dbe2e7;
    overflow: hidden;
}

.certificateImageDiv>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.certificateUploadMeta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.certificateImageUpload {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--text-emphasis);
    margin-top: 10px;
}

.profileMainUpdate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--main);
    padding: 10px;
    font-family: var(--poppins);
    color: white;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
}

/* skils - setting page */
.skillsInputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.skillsInputs>div {
    display: grid;
    grid-template-columns: 1fr 150px;
    column-gap: 15px;
}

.skillsInputs>div>select {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
}

.skillsInputs>div>input[type=button] {
    background-color: var(--main);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.SettingSkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px 0;
}

.SettingSkills .SettingSkillItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 10px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    border-radius: 5px;
}

.SettingSkillItem>.skillName {
    color: var(--text-emphasis);
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
}

.SettingSkillItem>.skillExperiance {
    font-size: 12px;
    color: var(--text-subtle);
}

.GrayedInput {
    width: 100%;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

.GrayedInput.verticalExtend {
    resize: vertical;
}


/* password tab - settings page  */
.STPPasswordTab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
    max-width: 600px;
    width: 100%;
}

.STPChangePassword {
    padding: 10px;
    background-color: var(--main);
    color: white;
    border-radius: 5px;
}

/* social link tab - settings page  */
.STPLinkTab {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0px;
    align-items: flex-start;
    max-width: 600px;
    width: 100%;
}

.STPLinkTabHeading {
    font-size: 18px;
    font-weight: 500;
}

.hrFullWithSubtle {
    width: 100%;
    border-color: var(--bg-subtle);
    color: var(--bg-subtle);
    background-color: var(--bg-subtle);
}

/* svg undraw fill stroke and color */
.fillMain {
    fill: var(--main);
}

/* icon btn  */
.iconBtn {
    background-color: var(--main);
    color: var(--text-emphasis);
    border: 1px solid transparent;
    outline: none;
    padding: 10px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.iconBtn.autoWidth {
    width: auto;
}

.iconBtn:disabled {
    background-color: var(--bg-subtle);
    border: 1px solid var(--border);
    color: var(--text-subtle);
}


.iconBtn,
.iconBtn * {
    transition: all .1s ease;
}
.iconBtn.mutedSubtle{ 
    background-color: var(--bg-subtle);
    border: 1px solid var(--border);
    color: var(--text-emphasis);
}

.iconBtn.small {
    padding: 4px 7px;
    font-size: 11px;
}

.iconBtn span,
.iconBtn svg {
    color: inherit;
}

.iconBtn.noPad {
    padding: 0;
}

.iconBtn.round {
    border-radius: 5px;
}


.iconLoading {
    animation: spin 1s infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

.iconBtn.success {
    background-color: var(--bg-success);
    color: var(--text-success);
}

.iconBtn.warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.iconBtn.error {
    background-color: var(--bg-error);
    color: var(--text-error);
}

.iconBtn.info {
    background-color: var(--bg-info);
    color: var(--text-info);
}



@media only screen and (max-width: 500px) {
    .SPTProfileUploadContainer {
        grid-template-columns: 1fr;
    }
    .tablists>p {
        font-size: 12px;
    }

    .TSProfileMain {
        grid-template-columns: 1fr 1fr;

    }
    .TSProfileImage {
        height: 107px;
    }
    .TSProfileImage>img {
        height: 60%;
        object-fit: contain;
    }
    .TSProfileSkills {
        grid-column: 1/4;
    }
    .profileSkillsBadges {
        width: 100%;
        row-gap: 15px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .profilePhoto>img {
        object-fit: contain;
    }
    .profilePhoto {
        order: 1;
    }
    .profileMenuBtns {
        order: 2;
    }
    .coverImgDiv {
        order: 3;
    }
    .uploadCoverBtn {
        order: 4;
    }
    .TwoInputGridGroup {
        grid-template-columns: 1fr;
    }
    .skillsInputs {
        grid-template-columns: 2fr 1fr;
    }
    .skillsInputs>div {
        grid-template-columns: 1fr 60px;
    }
    .certificateUploadArea {
        height: 160px;
        grid-template-columns: 1fr 1fr;
    }
    .certificateUploadMeta>.heading {
        font-size: 14px;
        font-weight: 500px;
        color: var(--text);
    }
    .certificateUploadMeta>.subheading {
        font-size: 12px;
        color: var(--text-subtle);
    }
    .certificateImageUpload  {
        font-size: 14px;
    }
}