@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Script-Bold";
    src: url(../assets/fonts/SCRIPTBL.TTF);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: local('Poppins'), url(../assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: local('Poppins'), url(../assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: local('Poppins'), url(../assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: local('Poppins'), url(../assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    src: local('Poppins'), url(../assets/fonts/Poppins/Poppins-ExtraBold.ttf) format('truetype');
}



/* :root {
    --main: #5059cf;
    --secondary: #886dff;
    --lightBG: #bfb1ff;
    --optionBG: #cbd7da;
    --poppins: "Poppins", sans-serif;
    --grayPrimary: #444;
    --graySecondary: #777;
    --adminMainBackground: #EAEEF3;
    --adminSmallShadow: 0 0 10px rgba(0, 0, 0, .15);
    --adminLargeShadow: 0 0 20px rgba(0, 0, 0, .1);
    --adminColorShadow: 0 0 10px #886dff;
} */

:root {
    /* navbar config  */
    --navbarHeight: 65px;
    --bodyHeight: calc(100vh - var(--navbarHeight));

    /* admin nav config  */

    /* course content nav config  */
    --courseContentNavHeight: 60px;
    --courseContentSidebarWidth: 300px;
    --courseContentBodyHeight: calc(100vh - var(--courseContentNavHeight));

    /* action colors  */
    --error: #f11f42;
    --warning: #d29f1c;
    --info: rgb(28, 143, 210);

    --poppins: "Poppins", sans-serif;

    /* for theme  */
    --main: #ff39ad;
    --secondary: #ff92d1;
    --lightBG: #ffd0e8;
    --optionBG: #ff7bc8;
    --grayPrimary: #444;
    --graySecondary: #777;
    --lightGray: #e9e9e9;

    --adminMainBackground: #EAEEF3;
    --adminSmallShadow: 0 0 10px rgba(0, 0, 0, .15);
    --adminMDShadow: 0 0 15px rgba(0, 0, 0, .2);
    --adminLargeShadow: 0 0 20px rgba(0, 0, 0, .1);
    --adminColorShadow: 0 0 10px #ffabff;
    --mainText: #000;
    --bgText: #000000;
    --monochrome: #fff;
    --fadeText: #808080;

    --fontXS: 10px;
    --fontSM: 12px;
    --fontMD: 14px;
    --fontLG: 18px;
    --fontXL: 22px;

    --bg-emphasis: #e5e7eb;
    --bg: #fff;
    --bg-subtle: #f3f4f6;
    --bg-muted: #f9fafb;
    --bg-inverted: #0f0f0f;
    --bg-info: #f6f9fe;
    --bg-success: #e4fbe9;
    --bg-attention: #fcefd9;
    --bg-error: hsla(3, 66, 93, 1);
    --bg-dark-error: #772522;
    --border-emphasis: #9ca3b0;
    --border: #d1d5db;
    --border-subtle: #e5e7eb;
    --border-booker: #e5e7eb;
    --border-muted: #f3f4f6;
    --border-error: #aa2f27;
    --text-emphasis: #384252;
    --text: #384252;
    --text-subtle: #6b7280;
    --text-muted: #9ca3b0;
    --text-inverted: #fff;
    --text-info: #253883;
    --text-success: #285231;
    --text-attention: #74331b;
    --text-error: #772522;
    --brand: #111827;
    --brand-emphasis: #0f0f0f;
    --brand-text: #fff;
    --bg-backdrop: #0002;
}


[data-theme="dark"] {

    /* for theme  */
    --main: #9539ff;
    --secondary: #cc92ff;
    --lightBG: #ffd0e8;
    --optionBG: #7d1fb4;
    --grayPrimary: #444;
    --graySecondary: #777;
    --lightGray: #e9e9e9;

    --adminMainBackground: #EAEEF3;
    --adminSmallShadow: 0 0 10px rgba(0, 0, 0, .15);
    --adminMDShadow: 0 0 15px rgba(0, 0, 0, .2);
    --adminLargeShadow: 0 0 20px rgba(0, 0, 0, .1);
    --adminColorShadow: 0 0 10px #ffabff;
    --mainText: #000;
    --bgText: #000000;
    --monochrome: #1a1a1a;
    --fadeText: #808080;

    --bg-emphasis: #525252;
    --bg: #1a1a1a;
    --bg-subtle: #2e2e2e;
    --bg-muted: #1f1f1f;
    --bg-inverted: #f3f4f6;
    --bg-info: #253883;
    --bg-success: #285231;
    --bg-attention: #74331b;
    --bg-error: #772522;
    --bg-dark-error: #772522;
    --border-emphasis: #757575;
    --border: #575757;
    --border-subtle: #383838;
    --border-booker: #383838;
    --border-muted: #2e2e2e;
    --border-error: #aa2f27;
    --text-emphasis: #fcfcfd;
    --text: #d6d6d6;
    --text-subtle: #a6a6a6;
    --text-muted: #575757;
    --text-inverted: #1a1a1a;
    --text-info: #dee9fc;
    --text-success: #e4fbe9;
    --text-attention: #fcefd9;
    --text-error: #f9e3e1;
    --brand: #fff;
    --brand-emphasis: #9ca3b0;
    --brand-text: #000;
    --bg-backdrop: #fff2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
}


.hideScrollbar::-webkit-scrollbar {
    display: none;
}


.Sc-hLseeU,
iMItVw {
    display: none;

}

.react-tabs__tab {
    border: none
}

.react-tabs__tab-list {
    padding-top: 40px;
}

.react-tabs__tab-list {
    display: flex;
    gap: 30px;
}

/* poppins font family  */
.poppinsFF {
    font-family: var(--poppins);
}

/* bordered table  */

table.bordered {
    border: solid #d8d8d8 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    width: 100%;
}

table.bordered tr:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

table.bordered td,
table.bordered th {
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table.bordered th {
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

table.bordered td:first-child,
table.bordered th:first-child {
    border-left: none;
}

table.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

table.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

table.bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

table.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

table.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.dropdown {
    background-color: #09c2fa;
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: auto;
    padding-bottom: 20px;
    height: 250px;
    padding-top: 3rem !important;
    color: #ffffff;
    font-weight: 500;
}

.hiddenScrollbar::-webkit-scrollbar {
    display: none;
}

/* announcement page  */
.announcementTableHead>tr,
.announcementTableBody tr {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.myallcourse {
    grid-template-columns: 1fr 4fr 1fr;
}

.courseprogress {
    grid-template-columns: 5fr 2fr;
}

.Addquestion {
    grid-template-columns: repeat();
}

.infoText {
    font-weight: 400;
    color: rgb(139, 139, 139);
}

.infoText.flexed {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.infoText.flexed.sm>div>svg {
    height: 20px;
    width: 12px;
}

.infoText.flexed.xs>div>svg {
    height: 20px;
    width: 12px;
}

.infoText.xs {
    font-size: 13px;
}

.infoText.sm {
    font-size: 15px;
}

.infoText.md {
    font-size: 16px;
}

/* rotate  */
.rotateZ180deg {
    transform: rotateZ(180deg);
}

.spin360 {
    animation: spin360 1s linear infinite normal;
}

@keyframes spin360 {
    from {
        transform: rotateZ(0deg)
    }

    to {
        transform: rotateZ(360deg)
    }
}

.noNumberStyle::-webkit-inner-spin-button,
.noNumberStyle::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.firstLetterCapital {
    color: red;
    text-transform: capitalize !important;
}


@media only screen and (max-width:900px) {
    .Courseupload {
        width: 100%;
    }

    .myallcourse {
        grid-template-columns: 1fr 4fr 1fr;
    }
}