.myCustomVideoPlayer {
    position: relative;
    height: 100%;
    width: 100%;
}

.bottomControls {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    transition: all .5s ease;
}

.bottomControls.hide {
    opacity: 0;
    pointer-events: none;
}

.bottomControls.show {
    opacity: 1;
}

.playerSeekBar {
    width: 100%;
}

/* custom input rangge  */
.customRangeInputWrapper {
    width: 100%;
    position: relative;
}

.fillarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main);
    border-radius: 5px;
    z-index: 67;
}

.customRangeInput {
    width: 100%;
    display: block;
    -webkit-appearance: none;
    background-color: #cdd6db;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
    position: relative;
}

.customRangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--main);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
    z-index: 978;
    position: relative;
}

.customRangeInput:not(:disabled)::-webkit-slider-thumb:active {
    transform: scale(1.4);
}

.customRangeInput:disabled::-webkit-slider-thumb {
    background-color: gray;
}


.volumButtonWithSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.volumeRangeSlider {
    width: 150px;
}

.playerDuration {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--poppins);
    font-size: 12px;
    gap: 2px;
    justify-content: center;
}

.playerFooterScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexRowGap5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.playbackRateFixer {
    position: relative;

}

.playbackRateFixer>.selectedPlayback {
    font-family: var(--poppins);
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.playbackRateFixer>.playbackOptions {
    position: absolute;
    bottom: 45px;
    left: -35px;
    width: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.playbackRateFixer>.playbackOptions>button {
    padding: 5px 10px;
    width: 100%;
    background-color: white;
    font-family: var(--poppins);
}

.playbackRateFixer>.playbackOptions>button:hover {
    background-color: #EFEFEF;
}

.playerActionBtn {
    color: white;
    cursor: pointer;
}