.paymentPage {
    background-color: #F8F8F8;
}

.paymentCouponPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.paymentContainer {
    width: 100%;
    padding: 40px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemsAndCouponArea {
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
    gap: 20px;
    align-items: flex-start;
}

.orderSummary {
    font-family: var(--poppins);
    font-size: 26px;
    color: #111;
    font-weight: 600;
}

.itemsColBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
    border-radius: 20px;
}

.itemColBoxHeader {
    font-family: var(--poppins);
    font-size: 20px;
    color: #111;
    font-weight: 600;
    margin-bottom: 10px;
}

.itemsColBox>.itemBox {
    display: grid;
    grid-template-columns: minmax(0, 150px) minmax(0, 1fr);
    gap: 20px;
}

.itemsColBox>.itemBox>.itemImgBox {
    border-radius: 5px;
    height: 100%;
    max-height: 120px;
    width: 100%;
    overflow: hidden;
}

.itemsColBox>.itemBox>.itemImgBox>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.itemsColBox>.itemBox>.metaData {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemsColBox>.itemBox>.metaData .title {
    font-family: var(--poppins);
    font-size: 18px;
    color: #111;
    font-weight: 500;
}
.itemsColBox>.itemBox>.metaData .subTitle {
    font-family: var(--poppins);
    font-size: 14px;
    color: #555;
}

.itemsColBox .price {
    gap: 15px;
    align-items: last baseline;
}

.itemsColBox .itemPrice {
    align-items: center;
}

.itemsColBox .price,
.itemsColBox .itemPrice {
    font-family: var(--poppins);
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

.itemsColBox .itemPrice.discount {
    font-size: 16px;
    color: #686868;
    text-decoration: line-through;
}

.couponPriceArea {
    width: 100%;
    min-height: 200px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.couponPriceArea .couponArea {
    width: 100%;
    font-family: var(--poppins);
}

.couponPriceArea .couponFind {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    height: 50px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 120px);
    align-items: center;
}

.couponPriceArea .couponFind input {
    height: 100%;
    background-color: transparent;
    padding: 0 10px;
    outline: none;
    border: none;
    border-right: 1px solid #d9d9d9;
}

.couponPriceArea .couponFind .findArea {
    text-align: center;
    cursor: pointer;
    color: var(--main);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.couponPriceArea .pricingCalculation {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.paymentSummaryTitle {
    font-size: 18px;
    font-family: var(--poppins);
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}

.titleWithPrice {
    font-family: var(--poppins);
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.priceWithRupee {
    font-size: 15px;
    line-height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.titleWithPrice.success {
    color: green;
}

.titleWithPrice.bigBoldText {
    color: #111;
    font-weight: 500;
    font-size: 18px;
}


.paymentProcessPage {
    width: 100%;
    background-color: var(--main);
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-family: var(--poppins);
    margin-top: 10px;
}

.paymentProcessPage:hover {
    filter: brightness(.95);
}


.appliedCoupon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-family: var(--poppins);
}

.appliedCoupon .title {
    font-size: 16px;
    font-weight: 500;
}
.appliedCoupon .discount {
    font-size: 13px;
}
.appliedCoupon .removeCoupon {
    color: var(--main);
    cursor: pointer;
}


/* transaction status page  */
.transactionPage{
    width: 100%;
    height: 100vh;
    background-color: #EAEEF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transactionStatusContainer {
    width: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.txnStatusLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.txnStatusLogo.success {
    color: rgb(54, 151, 54);
}

.txnStatusLogo.failure {
    color: rgb(240, 80, 51);
}

.txnStatusLogo.cancel {
    color: rgb(136, 136, 136);
}
.txnStatusLogo.aborted {
    color: rgb(137, 229, 206);
}

.txnStatusHeader {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
    font-family: var(--poppins);
}

.txnDataGrid {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.txnDataGrid > .twoColGrid {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    font-family: var(--poppins);
    padding: 10px 0;
    gap: 20px;
    overflow: hidden;
}
.txnDataGrid > .twoColGrid.lastItem {
    border: none;
}

.txnDataGrid > .twoColGrid > strong {
    color: #333;
    text-overflow: ellipsis;
    max-width: 50%;
}
.txnDataGrid > .twoColGrid > p {
    color: #111;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.txnPaymentsLink {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.txnPaymentsLink > .gotoHome {
    color: var(--main);
    border-bottom: 1px solid var(--main);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 2px 0;
}
.txnPaymentsLink > .gotoHome > span {
    line-height: 18px;
    font-size: 14px;
    font-family: var(--poppins);
}