.allCoursePage {
    background-color: var(--adminMainBackground);
}

.allCoursesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.mobileFilterToggler {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    font-size: 18px;
    margin: 10px 0;
    font-family: sans-serif;
}

.mobileFilterToggler>p {
    padding: 5px 10px;
    color: white;
    background-color: var(--main);
}


.courseInnerDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}


/* course card grid   */
.courseCardContainer {
    gap: 30px;
    min-height: 700px;
}

.courseCardContainer.listLayout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    align-content: flex-start;
}

.courseCardContainer.cardLayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    align-content: flex-start;
}



.allCourseHeadFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
    z-index: 24;
    gap: 20px;
}

.filterRow1 {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 55px 55px;
    justify-items: flex-start;
    gap: 20px;
}


.allCourseSearch {
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: var(--monochrome);
    border-radius: 5px;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: var(--adminSmallShadow);
}


.allCourseSearch>input {
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.gridViewBTN {
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--adminSmallShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}


/* filter row 2  */
.filterRow2 {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) 150px;
    gap: 20px;
}

/* single card course  */
.courseRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;
    color: var(--main);
}

.courseFooter>.price,
.listcourseFooter>.price {
    font-size: 20px;
    font-weight: 500;
}

.courseFooter>.cartBtn,
.listcourseFooter>.cartBtn {
    padding: 8px 15px;
    border: 1px solid var(--main);
    border-radius: 5px;
    color: var(--main);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.courseFooter>.cartBtn.enrolled {
    background-color: var(--main);
    color: white;
}

.courseFooter>.cartBtn:hover,
.listcourseFooter>.cartBtn:hover {
    background-color: var(--main);
    color: white;
}

.resetBTN {
    border: 1px solid #ff3535;
    height: 100%;
    width: 100%;
    font-size: 22px;
    color: #ff3535;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.resetBTN>svg>path {
    stroke: #ff3535;
}

/* no course view */
.noCourseFound {
    padding: 50px 0;
    margin: 50px 0;
    background-color: var(--monochrome);
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--adminSmallShadow);
}

.noCourseFound>img {
    height: 80%;
    object-fit: cover;
    border-radius: 1000px;
}

.noCourseText {
    font-size: 32px;
    font-weight: 500;
}

/* single course card  */
.singleCourseContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.singleCourseCard {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 70px);
    height: 450px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--monochrome);
    box-shadow: var(--adminSmallShadow);
}

.courseCardHeader {
    height: 100%;
}


.courseBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.courseCardTitle {
    font-size: 20px;
    font-weight: 500;
}

.courseCardMeta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brandLogo {
    background-color: var(--main);
    width: 45px;
    line-height: 45px;
    aspect-ratio: 1;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    overflow: hidden;
}

.brandLogo>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.brandNameAndTag {
    display: flex;
    flex-direction: column;
}

.full_name {
    font-size: 18px;
    font-weight: 500;
    gap: 5px;
}


.courseFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    border-top: 1px solid rgb(202, 202, 202);
}


/* list layout course  */
.listCourseCard {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px #a9a9a9;
    height: 250px;
    width: 100%;
}

.listCourseThumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.listCourseThumbnail>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.listCourseDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courseMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.listcourseFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

/* category sidebar  */
.courseLeftSidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categoryHeading {
    font-size: 22px;
    font-weight: 500;
}

.courseCat {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.singleCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.singleCategory>input[type="checkbox"] {
    width: 18px;
    aspect-ratio: 1;
}

.singleCategory>label {
    font-size: 18px;
}


/* course right sidebar  */
.courseRightSidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    gap: 20px;
    overflow: hidden;
}

.mobileFilterToggler {
    display: none;
}



@media only screen and (max-width: 1400px) {
    .courseInnerDiv {
        width: 100%;
        padding: 0 15px;
        gap: 20px;
    }

    .listCourseCard {
        max-width: 100%;
    }

}


@media only screen and (max-width: 800px) {
    .mobileFilterToggler {
        display: flex;
    }

    .courseRightSidebar {
        order: 2;
        padding: 0;
        display: none;
        height: max-content;
        flex-direction: column;
        align-items: flex-start;
    }

    .courseRightSidebar.showMobfilter {
        display: flex;
    }

    .cardLayout.categorySelected,
    .cardLayout.notSelected,
    .listCourseCard,
    .singleCourseCard {
        width: 100%;
    }

    .courseLeftSidebar {
        display: none;
    }

    .courseLeftSidebar.showMobfilter {
        display: flex;
    }

    .allCourseHeadFilter {
        display: none;
    }

    .allCourseHeadFilter.showMobfilter {
        display: flex;
    }

    .listCourseCard {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 500px) {

    .listCourseCard,
    .singleCourseCard {
        width: 100%;
    }

    .courseCardContainer.cardLayout {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}