/* utils  */
.CBInput {
    padding: 10px;
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-muted);
    border-radius: 5px;
    outline: none;
    width: 100%;
    resize: none;
}

.CBInput:focus {
    border-color: var(--border-subtle);
}

.CBContainerBody {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CBMediaUpload {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    align-items: flex-start;
}


/* action header  */
.CourseBuilderHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-muted);
    border-bottom: 1px solid var(--border-subtle);
    z-index: 5445;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    font-family: var(--poppins);
}

.CBHeaderBarResponsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.CBBackBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    font-family: var(--poppins);
    font-size: 18px;
}

.CBBackBtn:hover {
    background-color: var(--bg-subtle);
}


.submitCourse,
.previewCourse {
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.submitCourse {
    background-color: var(--main);
    color: var(--text);
    border: 1px solid var(--border);
}

.previewCourse {
    border: 1px solid var(--main);
    color: var(--main);
}

.CBStatusBtn {
    padding: 9px 20px;
    border-radius: 5px;
}

.courseStatus.success {
    background-color: green;
    color: white;
}

.courseStatus.warning {
    background-color: rgb(255, 145, 0);
    color: white;
}


/* course builder  */
.courseBuilderResponsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins);
    background-color: var(--bg);
}

.courseBuilderMainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 2.5fr) minmax(0, 1fr);
    gap: 30px;
    padding: 20px 40px;
}

/* first column of grid  */
.courseBuilderDiv1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.courseInput {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.courseSubHeading {
    font-size: 17px;
    color: #444;
    font-weight: 500;
}

.courseInput>input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #444;
    outline: none;
    border-radius: 8px;
    font-family: sans-serif;
}

/* course info  */
.courseDescriptionRQ .ql-editor {
    min-height: 250px;
}

.courseDescriptionRQ .ql-toolbar.ql-snow {
    border: 1px solid var(--border-subtle);
    border-radius: 10px 10px 0 0;
}

.courseDescriptionRQ .ql-container.ql-snow {
    border: 1px solid var(--border-subtle);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.courseDescriptionRQ .ql-editor.ql-blank::before {
    font-style: normal;
}

/* course builder  */
.CBBuilder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: var(--poppins);
}

.CBTopicContainer {
    width: 100%;
    border: 1px solid var(--border-subtle);
    border-radius: 5px;
    overflow: hidden;
}

.CBTopicItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bg-subtle);
    /* border: 1px solid var(--border-subtle); */
}

.CBTopicItem>.orderAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #333;
    font-weight: 500;
}

.CBTopicItem>.orderAndTitle>p {
    font-size: 17px;
}

.CBTopicActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #777;
}

.CBTopicIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 500px;
    cursor: pointer;
    color: var(--text);
}

.CBTopicIcon:hover {
    background-color: var(--bg-emphasis);
    border: 1px solid var(--border-emphasis);
}

.CBAddNewTopic {
    background-color: var(--main);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 5px;
}


/* item container - Quiz, Assignment, Lessons  */
.CBItemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 25px;
    overflow: hidden;
}

.CBOneItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    padding: 8px;
}

.CBOneItem>.orderAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #111;
}

.CBOneItem>.orderAndTitle>p {
    font-size: 12px;
}


.CBItemActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px 0 5px 0;
}

.CBItemAddBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 7px 12px;
    border-radius: 5px;
    border: 1px solid var(--main);
    color: var(--main);
    transition: all .4s ease;
}

.CBItemAddBtn>p {
    font-size: 12px;
}

.CBItemAddBtn:hover {
    color: white;
    background-color: var(--main);
}

/* second section of grid  */
.courseBuilderDiv2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
}

.CBBatchData {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courseUploadTip {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.courseUploadTip>p {
    margin-top: -5px;
    text-align: justify;
}

/* course setting  */
.courseSettingContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: flex-start;
    overflow: hidden;
}

.courseSettingMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--border-subtle);
    /* background-color: rgb(237, 241, 245); */
    /* box-shadow: 1px -1px 4px #5e5e5e8c; */
}

.courseSettingMenu>div {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
}

.courseSettingMenu>div.selectedTab {
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
}

.courseSettingGeneral {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    row-gap: 20px;
}

.gridTwoByThree,
.gridTwoByThreeNS {
    display: grid;
    grid-template-columns: minmax(100px, 2fr) minmax(150px, 3fr);
    padding: 0 20px;
}


.gridTwoByThree>div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.coursePriceInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
    gap: 15px;
}

.coursePriceInputs>div {
    width: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 45px 1fr;
    border: 1px solid #999;
    overflow: hidden;
}

.coursePriceInputs>div>svg {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-right: 1px solid #999;
}

.coursePriceInputs>div>input {
    padding: 10px;
    outline: none;
}

.courseOffersCheckbox {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;

}

.courseOffersCheckbox>.checkBoxItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.courseStartedOrNot {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.subscriptionChekbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.subscriptionChekbox>input[type="checkbox"] {
    width: 18px;
    aspect-ratio: 1;
}

.courseSubscriptionInput {
    width: 100%;
    border: 1px solid var(--border-subtle);
    border-radius: 5px;
    padding: 5px 10px;
}


.VideoThumbnailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--border-subtle);
    color: var(--text-muted);
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    overflow: hidden;
}

.VideoThumbnailContainer>p {
    color: var(--text-subtle);
}

.browseFileBTN {
    border: 1px solid var(--border-subtle);
    padding: 6px;
    color: var(--text-subtle);
    border-radius: 5px;
    margin-top: 5px;
}

.browseFileBTN:hover {
    background-color: var(--bg-subtle);
}

.CBThumbnailContainer {
    width: 100%;
    height: 250px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.courseThumbnailImg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-subtle);
    color: var(--text);
}

.courseThumbnailImg>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.courseThumbnailMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    font-family: var(--poppins);
}

.thumbnailUploadImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    color: var(--text-emphasis);
}

/* topic form  */
.topicModalFormDiv {
    max-height: 700px;
    width: 600px;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    background-color: var(--bg-muted);
    border-radius: 15px;
    overflow: hidden;
}

.topicHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.topicHeading>svg {
    cursor: pointer;
}

.topicHeading>h2 {
    font-size: 16px;
    font-weight: 600;
}

.topicBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-muted);
    overflow-y: auto;
    border-top: 1px solid var(--border-muted);
    border-bottom: 1px solid var(--border-muted);
}

.topicBodyWidthGuider {
    width: 80%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.topicBodyWidthGuider>div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.topicBodyWidthGuider>div>input,
.topicBodyWidthGuider>div>textarea {
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-subtle);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.cardInputInfo {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.cardInputInfo>svg {
    color: rgb(153, 153, 153);
}

.cardInputInfo>span {
    margin-top: -3px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.topicFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.topicFooterWidthGuider {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topicFooterWidthGuider>.btn {
    padding: 6px 15px;
    border-radius: 4px;
}

.topicFooterWidthGuider>.btn.cusSubmit {
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-subtle);
    color: var(--text);
}

.topicFooterWidthGuider>.btn.cusCancle {
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-muted);
    color: var(--text);
}

/* course builder quiz form  */
.quizForm {
    max-height: 750px;
    min-height: 350px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    width: 750px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 130px 1fr 80px;
    overflow: hidden;
}


.quizFormHeader,
.quizFormBody,
.quizFormFooter {
    width: 100%;
    height: 100%;
}

/* quiz form header  */
.quizFormHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizHeadText {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-emphasis);
}

.quizProgress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.quizProgressText {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr 100px;
    align-items: center;
    width: 100%;
}

.quizProgressLine {
    display: grid;
    grid-template-columns: 30px 1fr 30px 1fr 30px;
    align-items: center;
    max-width: 95%;
    width: 95%;
}

.quizLine {
    height: 5px;
    width: 100%;
    background-color: var(--bg-subtle);
    /* border: .1px solid var(--border); */
}

.quizNumber {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}

.quizNumber.fillLine,
.quizLine.fillLine {
    background-color: var(--main);
    color: #fff;
}



/* quiz form body  */
.quizFormBody {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: var(--bg-muted);
    border-top: 1px solid var(--border-subtle);
    border-bottom: 1px solid var(--border-subtle);
}

.centerBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* quiz form footer  */
.quizFormFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widthManager {
    width: 90%;
}

.quizFooterBTNs {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.qCancleBtn,
.qSubmitBtn {
    padding: 8px 15px;
    border: 1px solid var(--main);
    border-radius: 5px;
}

.qCancleBtn {
    color: var(--main);
    font-weight: 500;
    transition: all .5s ease-in-out;
}

.qCancleBtn:hover {
    background-color: var(--main);
    color: white;
}

.qSubmitBtn {
    background-color: var(--main);
    color: white;
}

.qFormAdjBTNS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 15px;
}


/* quiz form pages  */
/* page 1  */
.quizFormPage1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.quizFormPage1>.qfpInputDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quizFormInputText {
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 500;
    color: var(--text);
}

.quizFormInput {
    width: 100%;
    padding: 8px 15px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    outline: none;
    border-radius: 5px;
    resize: none;
    font-family: var(--poppins);
}

/* page 2  */
.quizFormPage2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 0;
}

.singleQuestion {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 2fr 50px 120px 40px 40px;
    align-items: center;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
}

.quizAddQuestionBtn {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-subtle);
    color: var(--text-emphasis);
    padding: 12px 10px;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    background-color: var(--bg-muted);
}

.quizAddQuestionBtn:hover {
    background-color: var(--bg-emphasis);
}

.dragBtn {
    cursor: move;
}


.quizQueContextMenu {
    cursor: pointer;
    height: 35px;
    aspect-ratio: 1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.quizQueContextMenu:hover {
    background-color: aliceblue;
    border: 1px solid rgb(210, 214, 218);
}

.quizQueContextMenu>svg {
    color: #272727;
}


/* quiz page 3  */
.quizFormPage3Time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.quizFormPage3 {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 20px;
}

.quizFormTimeInput {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.quizInput {
    padding: 8px 10px;
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-muted);
    outline: none;
    border-radius: 5px;
}

.timeInput {
    width: 100px;
}

.quizFormPage3Feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.quizFeedbackMode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.feedbackRadio {
    border-radius: 5px;
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-subtle);
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: 10px 0;
}

.feedbackRadio>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedbackRadio>div>input[type="radio"] {
    width: 18px;
    aspect-ratio: 1;
}

.quizPassingGrade {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.passGradeInp {
    width: 100%;
}

.advanceSettingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 5px;
    gap: 10px;
}

.advanceMenu {
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-subtle);
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    align-items: center;
    border-radius: 5px;
    padding: 10px 15px;
}

.iconCenter {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advanceSettingH4 {
    font-size: 16px;
}

.gearIcon {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: var(--bg-emphasis);
    color: var(--text);
}

.gearIcon>svg {
    font-size: 16px;
}

.arrowDown {
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.arrowDown>svg {
    font-size: 16px;
}

.advContextMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    border-radius: 5px;
    gap: 25px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    padding: 0 20px;
}

.showAdvMenu {
    padding: 20px;
    height: 627px;
}

.hideAdvMenu {
    height: 0;
}

.rotate180deg {
    transform: rotate(180deg);
}

.questionLayoutMode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.questionLayoutMode>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.questionLayoutMode>div>select {
    width: 100%;
}

/* add question page quiz form */
.quizPageAddQuestion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 30px;
}

.quiz90p {
    width: 90%;
    flex-direction: row;
    display: flex;
    gap: 8px;
}

.quiz90p.col {
    flex-direction: column;
}

.backBtnAddQue {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    gap: 8px;
}

.answerRequiredOption {
    align-items: center;
    gap: 20px;
}

.answerRequiredOption>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.questionPointOption {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}

.questionImageUpload {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* question type  */
.singleChoiceOption {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



/* true false type  */
.trueFalseOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.trueFasleRadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    background-color: var(--bg-subtle);
    border-top: 1px solid var(--border-subtle);
    padding: 20px 0;
}

.trueFasleRadio>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.trueFasleRadio>div>div {
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    padding: 8px 10px;
    display: grid;
    grid-template-columns: 1fr auto 25px;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
}

.trueFasleRadio>div>input {
    width: 12px;
    aspect-ratio: 1;
}

.dragTrueFalseOption {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

/* single choice type  */
.single_choice_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--bg-subtle);
    padding-bottom: 15px;
}

.single_choice_options>div {
    width: 90%;
}

.optionHeadText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.allOptionList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.allOptionList>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    width: 100%;
}

.allOptionList>div>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.optionAction {
    color: var(--text);
}

.addAndOptionBTN {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.optionInputs {
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.optionInputs>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answerTitle {
    padding: 8px 10px;
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-muted);
    border-radius: 5px;
    outline: none;
}

.imageOptionUpload {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    padding: 10px 15px;
    gap: 15px;
    border-radius: 5px;
}

.imgGrid1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imgGrid1>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: var(--bg-subtle);
    color: var(--text);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.imgGrid1>div>p {
    font-size: 25px;
}

.imgGrid2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 15px 0;
}

.imgGrid2>p {
    font-size: 12px;
}

.imgGrid2>button {
    display: flex;
    flex-direction: row;
    align-items: normal;
    gap: 5px;
    background-color: var(--bg-subtle);
    color: var(--text);
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.optionFormatRadios {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.optionFormatRadios>div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.optionFormatRadios>div>input {
    width: 12px;
    aspect-ratio: 1;
}

.optionFormatRadios>div>label {
    font-size: 12px;
    color: var(--text-emphasis);
    font-weight: 500;
}

.optionRadioButton {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addOptionBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addOptionBtn>button {
    padding: 6px 15px;
    border-radius: 5px;
    background-color: var(--main);
    color: var(--text-emphasis);
}

.CertificateChangeBTNS {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.changeBTN {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.changeBTN.active {
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
}

.CBCourseLink .CBCourseLinkSpan{
    color: var(--main);
    word-break: break-word;
}




.courseBuilderCertificates {
    max-height: 600px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: flex-start;
    gap: 15px;
    padding: 20px 0;
    padding-right: 5px;
}

.courseBuilderCertificates>div {
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    border: 1px solid #0004;
    width: 100%;
    aspect-ratio: 1 / .75;
    overflow: hidden;
    padding: 5px;
}

.courseBuilderCertificates>div>img {
    width: 100%;
    height: 100%;
}

.courseBuilderCertificates::-webkit-scrollbar {
    width: 2px;
}


/* assignment form  */
.assignmentform {
    background-color: var(--bg-muted);
    width: 750px;
    max-height: 750px;
    height: 750px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px 1fr 70px;
    overflow: hidden;
    font-family: var(--poppins);
}

.assignmentFormHeading {
    font-weight: 500;
    font-size: 16px;
}

textarea.assignmentFormInput,
.assignmentFormInput {
    padding: 8px 15px;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    outline: none;
    border-radius: 5px;
    width: 100%;
}

textarea.assignmentFormInput {
    resize: none;
}

.assignmentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}


.assignmentTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addAssignmentMedia {
    border: 1px solid var(--main);
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--main);
    border-radius: 4px;
    padding: 5px 10px;
}


.assignmentQuilTool {
    background-color: var(--bg-muted);
    color: var(--text);

}

.assignmentReactQuill {
    background-color: var(--bg-muted);
    max-height: 400px;
    overflow-y: auto;
}

.assignmentReactQuill .ql-editor {
    min-height: 200px;
}

.assignmentReactQuillContainer {
    overflow: hidden;
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
}

.assignmentReactQuillContainer .ql-toolbar.ql-snow,
.assignmentReactQuill .ql-container.ql-snow {
    border: none;
}

.assignmentReactQuill .ql-container.ql-snow {
    border-top: 1px solid var(--border-subtle);
}

.uploadPDFs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.uploadPDFs>button {
    color: white;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 10px;
}

.removeAssignmentPdf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.removeAssignmentPdf>.pdfFile {
    padding: 10px 25px;
    border: 1px solid var(--main);
    color: var(--main);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.removeAssignmentPdf>.pdfFile>.removePdf {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    background-color: var(--main);
    color: white;
}

.addAssignmentMedia:hover {
    color: #14446b;
}

.assignButton {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}

.timeLimitDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.assignmentBodyThirdSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.inputWithHeadingInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.uploadAttachemnts {
    border: 1px solid var(--main);
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--main);
    border-radius: 4px;
}

.contentDrip {
    background-color: var(--bg-subtle);
}

.unlocking {
    padding: 10px 0px;
    color: #7e7979;
    padding-bottom: 20px;
}

.infoIconText {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 5px;
}

.infoIconText>svg {
    min-width: 20px;
    font-size: 12px;
    color: var(--text);
}

.infoIconText>p {
    margin-top: -2px;
    font-size: 15px;
    color: var(--text);
}
.infoIconText.muted > p,
.infoIconText.muted > svg{
    fill: var(--text-muted);
    color: var(--text-muted);
}

.closeAssignmentFormBtn {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-muted);
    cursor: pointer;
}

.pdfPageActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-family: var(--poppins);
}

.pdfPageActions>.goBackPdf {
    padding: 5px 10px;
    background-color: #D9D9D9;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* lesson form  */

.lessonForm {
    background-color: var(--bg-muted);
    width: 700px;
    height: 650px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px 1fr 70px;
    overflow: hidden;
    font-family: var(--poppins);
}

.lessonFormHeading {
    font-weight: 500;
    font-size: 16px;
}

.featuredImage {
    background-color: var(--bg-muted);
    width: 100%;
    height: 200px;
    border: 1px solid var(--border-subtle);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 4fr);
    padding: 20px;
}

.placeholderImg {
    width: 100%;
    height: 100%;
    background-color: var(--bg-subtle);
    color: var(--text-emphasis);
    border: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.placeholderImg>.featuredWithDel {
    width: 100%;
    height: 100%;
    position: relative;
}

.featuredWithDel .placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featuredWithDel .deleteIcon {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}


.featuredImagePrequisites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px;
    justify-content: center;
    gap: 10px;
}

.featuredUploadBTN {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--main);
    color: white;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 12px;
}

.customSelectInput {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.customSelectInput>select {
    width: 100%;
    padding: 10px 35px;
    outline: none;
}

.fixedSelectIcon {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(30%);
    height: 100%;
}


.videoSource {
    border: 2px dashed var(--main);
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.videoSource.noPadding {
    padding: 0;
}

.videoSource .bold {
    font-weight: 600;
}

.html5Style {
    background-color: var(--bg-muted);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.html5Style .browseVideo {
    padding: 5px 8px;
    border: 1px solid var(--main);
    color: var(--main);
    background-color: transparent;
    border-radius: 5px;
}

.videoSource>input,
.videoSource>textarea {
    width: 100%;
    background-color: var(--bg-muted);
    padding: 10px;
    outline: none;
    border: 1px solid var(--border-subtle);
    border-radius: 5px;
    transition: all .4s ease;
}

.videoSource>textarea {
    resize: none;
}

.videoSource>input:focus {
    border-color: var(--main);
}

.playBackTimeGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
}

.playBackTimeGrid>.timeInput {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.playBackTimeGrid>.timeInput>input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-muted);
    border-radius: 5px;
}

.playBackTimeGrid>.timeInput>label {
    font-size: 12px;
    padding: 0 5px;
}

.uploadLAttachment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    background-color: var(--main);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* recording area  */
.recordingItemArea {
    width: 100%;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
}

.CBOneRecording {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 100px) minmax(0, 1fr);
    gap: 10px;
    border: 1px solid var(--bg-subtle);
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--bg-muted);
}

.RecordingFileIcon {
    width: 100%;
    height: 100%;
    background-color: var(--bg-subtle);
    display: flex;
    justify-content: center;
    align-items: center;
}

.OneRecordingMeta {
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}

.OneRecordingMeta>h3 {
    font-size: 16px;
    color: var(--main);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OneRecordingMeta>p {
    font-size: 13px;
    color: var(--text-subtle);
    margin-top: 10px;
    text-transform: capitalize;
}

.OneRecordingMeta>span {
    font-size: 13px;
    color: #222;
}


/* recording form  */
.CBRecordingForm {
    width: 700px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 80px minmax(0, 1fr) 80px;
}

.CBRecordingFormBody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    background-color: var(--bg-muted);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.CBInputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: var(--poppins);
}

.CBInputGroup>label {
    font-size: 12px;
}

.CBFormInput {
    background-color: var(--bg);
    border: 1px solid var(--border-subtle);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.CBContentDrip {
    width: 100%;
    padding: 10px 20px;
}

.CBContentDripEnable {
    color: var(--text);
    padding: 0 10px;
}
.ContentDripRadioButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CBContentDripRadio{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.CBContentDripRadio>input {
    flex: none;
}
input[type="radio"].llInput:disabled + label {
    color: var(--text-muted);
}

.CBContentDripRadio>label {
    flex-wrap: wrap;
    color: var(--text);
}

@media only screen and (max-width: 600px) {

    .courseBuilderMainContainer {
        max-width: 100%;
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .courseBuilderDiv1 {
        padding: 0;
    }

    /* course setting  */
    .courseSettingContainer {
        grid-template-columns: 1fr;
    }
    
    .courseSettingMenu {
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid var(--border-subtle);
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }


    /* assignmentheader */

    .assignmentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
    }

    .CBThumbnailContainer {
        grid-template-rows: minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
    }
    
    .CourseBuilderHeader {
        overflow: hidden;
    }
    
    .submitCourse,
    .previewCourse,
    .CBStatusBtn,
    .CBBackBtn {
        padding: 5px;
        font-size: 12px;
    }

    .gridTwoByThree, .gridTwoByThreeNS {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0;
    }
    .CBContentDrip {
        padding: 20px 0;
    }
}
