.courseProgressMainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: var(--bodyHeight);
    font-family: var(--poppins);
    background-color: var(--bg);
}

.courseProgressCol1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

/* thumbnail, title and sub   */
.courseThumbnailAndMeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, .3); */
}
.CPCourseHeroImg {
    border-radius: 10px;
    border: 1px solid var(--border-subtle);
}
.courseTitleAndCat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}

.CPCourseTitle {
    font-size: 16px;
    color: var(--text-emphasis);
}

.CPCourseSubTitle {
    font-size: 14px;
    color: var(--text);
}


/* play icon  */
.playIconForVideo {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--main);
    border-radius: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--monochrome);
}



.CPCatSubCat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.courseprogresstab {
    border-bottom: 2px solid transparent;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    color: #424242;
}

.courseprogresstab:hover {
    color: rgb(8, 106, 235);
}

.courseprogresstab.active {
    border-bottom: 2px solid var(--main);
    color: var(--main)
}

.tabViewHeading {
    font-weight: 600;
    color: rgb(10, 8, 8);
    font-size: 16px;
}

/* description tab view  */
.courseDescriptionRQ p,
.courseDescriptionRQ li {
    font-size: 16px;
}

.courseDescriptionRQ h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
}

.courseDescriptionRQ h3,
.courseDescriptionRQ h4 {
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;
}


/* course content tab  */

.courseContentTab {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0;
    width: 100%;
}

.coursecontentDiv {
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: var(--adminSmallShadow); */
    border: 1px solid var(--border-subtle);
}

.courseProTopicItem {
    background-color: var(--bg-subtle);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 55px 25px;
    gap: 20px;
    padding: 15px 10px;
    align-items: center;
}

.courseProTopicItem>h2 {
    font-size: 14px;
}

.courseProTopicItem>p {
    font-size: 12px;
}

.courseProTopicItem>svg {
    transition: all .4s ease-in-out;
}


.courseProItem {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: var(--poppins);
    height: 50px;
    justify-content: space-between;
    padding: 10px;
}

.courseProItem:hover {
    background-color: var(--bg-muted);
}

.courseProItem>div {
    align-items: center;
    color: #424242;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    gap: 10px;
    line-height: 1.6
}

.studentrating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.studentrating>img {
    height: 300px;

}

.studentfedback>p {
    color: #41454F;
    font-size: 1rem;

}



.courseProgressContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px 20px;
}

.courseProgressContainer>div {
    width: 100%;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAIC {
    display: flex;
    align-items: center;
}

/* announcement  */
.announcementTabView {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.announcementItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px #c2c2c2d3;
    padding: 15px;
}

.announcementMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcementMeta>.itemTitle {
    font-size: 19px;
    color: #222;
    font-weight: 500;
}

.announcementMeta>.itemDate {
    font-size: 15px;
    color: #6e6e6e;
}

/* gradebook  */
.gradeBookContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

.gradebookMain {
    background-color: white;
    box-shadow: 1px 1px 6px #c2c2c2d3;
    padding: 20px 20px;
    border-radius: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.gradeFinalGrade {
    font-size: 16px;
    font-weight: 600;
}

.mainGradeStatus {
    width: 65px;
    height: 65px;
    background: #d81f1f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 23px;
}

.gradebookTableHeading {
    display: grid;
    grid-template-columns: 5fr 1fr 0.4fr;
    padding: 20px 0;
    width: 100%;
}

.gradebookTableHeading>p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #424242;
    padding: 0 20px 0 10px;
}

.gradeItemContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
}

.gradeItem {
    display: grid;
    grid-template-columns: 5fr 1fr 0.4fr;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px #c2c2c2d3;
    padding: 15px;
}


.gradeItem>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    color: #424242
}

.gradebook4 {
    height: 30px;
    width: 30px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gradebook4>p {
    color: red;
}

.gradeStatus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradeStatus>p {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.gradeStatus>p.pass {
    color: rgb(0, 255, 98);
    border: 1px solid rgb(0, 255, 98);
    background: rgb(224, 255, 236);
}

.gradeStatus>p.fail {
    color: red;
    border: 1px solid red;
    background: rgb(255, 215, 215);
}

.gradeStatus>p.pending {
    color: rgb(255, 136, 0);
    border: 1px solid rgb(255, 136, 0);
    background: rgb(255, 230, 183);
}

.coursebyteacher {
    padding: 10px;
    background-color: var(--bg-subtle);
    /* box-shadow: var(--adminSmallShadow); */
    border: 1px solid var(--border-subtle);
    border-radius: 5px;
}

.CPCourseCreator {
    display: flex;
    align-items: center;
    gap: 10px;
}

.CPCourseDP {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--main);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.topicItems {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    transition: all .5s cubic-bezier(.17, .68, .27, .84);
    height: 50px;
}

.CPCourseDataBorder {
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-subtle);
    /* box-shadow: var(--adminSmallShadow); */
    border-radius: 10px;
}


.CPCourseEnrollData {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.CPcoursePrice {
    font-size: 26px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: var(--main);
}

.CPEnrollBtn {
    background-color: var(--bg-muted);
    border: 1px solid var(--border-subtle);
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    color: var(--text-subtle);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all .5s ease;
}
.CPEnrollBtn:hover {
    background-color: var(--bg-subtle);
    border: 1px solid  var(--border-subtle);
}


.CPenrollmentProp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.CPExtraDetailsContainer {
    padding: 20px;
    border-top: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CPCourseOfferContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 20px;
    border-top: 1px solid var(--main);
}

.CPExtraDetailItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.CPcourseOffer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.CPCourseOfferItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--main);
    padding: 10px;
    border-radius: 5px;
    transition: all .2s ease;
    cursor: pointer;
}

.CPCourseOfferItem:hover {
    background-color: var(--main);
    color: white;
}

/* tabmenus - tab  */
.whiteBGQuillDesc {
    width: 100%;
    background-color: var(--bg-subtle);
    border: 1px solid var(--bg-subtle);
    /* box-shadow: var(--adminSmallShadow); */
    border-radius: 10px;
}


.courseContent {
    width: 100%;
}


/* reviews tab  */
.reviewsTab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--monochrome);
    box-shadow: var(--adminSmallShadow);
    border-radius: 10px;
    height: 100px;
    overflow: hidden;
}

.reviewsTab>h2 {
    font-size: 26px;
    font-weight: 500;
    color: var(--secondary);
    user-select: none;
}


/* course enrolled style  */
.courseEnrolledProgress {
    font-family: var(--poppins);
}

.CPEFirstContainer {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.CPEHeader {
    font-size: 16px;
    font-weight: 500;
    color: var(--main);
}

.CourseCompleteInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(242, 182, 76);
}

.CourseCompleteInfo>svg {
    color: rgb(242, 182, 76);
}

.flexRowIconTxt {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.flexRowIconTxt>svg {
    margin-top: 2px;
}

@media only screen and (max-width:1200px) {
    .courseProgressContainer {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media only screen and (max-width:700px) {
    .courseProgressContainer {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .CPCatSubCat {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px 0;
    }

    .courseTitleAndCat {
        top: 10px;
        left: 10px;
        padding: 5px;
    }

    .CPCourseTitle {
        font-size: 14px;
    }

    .CPCourseSubTitle {
        font-size: 12px;
    }
}