.createCouponContainer {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.createCouponContainer>.heading {
    font-size: 24px;
    font-weight: 600;
}

.AffCCInput {
    width: 50%;
    border: 1px solid #333;
    padding: 10px;
    outline: none;
    font-family: var(--poppins);
    font-size: 16px;
}
.AffCCInput.FullSize {
    width: 100%;
}


.AffCCClassSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    position: relative;
}


.AffCCCourseList {
    position: absolute;
    width: 50%;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.AffCCCourseList > p {
    padding: 10px;
    width: 100%;
    background-color: white;
    font-family: var(--poppins);
}
.AffCCCourseList > p:hover {
    background-color: #efefef;
    cursor: pointer;
}

.AffCCSelectedCourse > p {
    padding: 10px;
    font-family: var(--poppins);
    font-size: 16px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.2);
} 

.AffCCCouponCode {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.AffCCCouponCode > button {
    border: 1px solid black;
    color: black;
    font-family: var(--poppins);
    padding: 10px 20px;
}

.AffCCBtn {
    background-color: #333;
    color: white;
    font-family: var(--poppins);
    padding: 10px 20px;
    cursor: pointer;
}
.AffCCBtn:hover {
    background-color: #000;
}