.footerContainer {
    width: 100%;
    margin-top: auto;
    background-color: var(--main);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--mainFont);
    color: var(--bgText);
    font-size: var(--fontMD);
    font-weight: 500;
}

@media only screen and (max-width:600px) {}