/* common styles  */
.A1BookBackImg {
    position: relative;
    background-image: url(https://letslearn-storage.s3.ap-south-1.amazonaws.com/landing/books.webp);
}

.A1WhiteBackAbs {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .95;
}


/* navbar section  */
.academi1Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 40px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 4544;
}

.A1NavDiv1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    overflow: hidden;
}

.A1NavDiv1>img {
    height: 80%;
}

.A1NavTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.A1NavTitle>h2 {
    font-size: 20px;
    font-weight: 500;
}

.A1NavTitle>p {
    font-size: 18px;
}

.A1NavDiv2>.registerBTN {
    padding: 10px 20px;
    background-color: #38B6FF;
    color: white;
    font-size: 18px;
    font-weight: 500;
}


/* second section - bg video and info */
.landingVideoA1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingVideoA1>.landingVideoDiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.landingVideoDiv>video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(.5);
}

.A1HeroSection {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 4102;
    padding: 50px 180px;
    gap: 100px;
}

.A1HeroPart1>p {
    font-size: 34px;
    font-weight: 500;
    color: white;
}

.A1HeroPart1>p>span.colorTheme {
    color: #38B6FF;
}

.A1HeroPart2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.A1HeroPart2>h2 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.A1HeroPart2>h4 {
    font-size: 35px;
    color: white;
}

.enrollNowA1Hero {
    background-color: #38B6FF;
    font-size: 19px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    text-transform: uppercase;
}

/* about us section  */
.A1AboutUsSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: #8AD2F5;
    overflow: hidden;
    position: relative;
    padding: 80px 0;
}

.A1AboutFixedCorner {
    position: absolute;
    overflow: hidden;
}

.A1AboutFixedCorner.topRight {
    height: 300px;
    top: -130px;
    right: -205px;
}

.A1AboutFixedCorner.bottomRight {
    height: 400px;
    bottom: -80px;
    right: -120px;
}

.A1AboutFixedCorner>img {
    height: 100%;
}



.A1AboutUsPart1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4455;
}

.A1AboutUsPart2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    z-index: 4455;
}

.A1AboutUsPart2>h2 {
    font-size: 50px;
    font-weight: 900;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.A1AboutUsPart2>p {
    max-width: 85%;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}

.readMoreBtn {
    padding: 10px 50px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 25px;
    position: relative;
    z-index: 545;
    margin-top: 20px;
}


/* choose class sction  */
.A1ChooseClassSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.A1ChooseClassBlob {
    position: absolute;
    top: 100px;
    right: 150px;
    width: 250px;
}

.A1ChooseClassAbsData {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4445;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.A1headerAlignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.A1ChooseClassSection .A1ChooseClassHeader {
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
}

.A1ChooseClassSection .A1ChooseClassSubHeader {
    font-size: 18px;
}

.A1ChooseClassGrid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 100px;
}

.A1ChooseClassItem {
    height: 300px;
    width: 100%;
    background-color: #8AD2F5;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.3fr);
}

.A1ChooseClassImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.A1ChooseClassImg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.A1ChooseClassMeta {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

.A1ChooseClassMeta>h3 {
    font-size: 18px;
    font-weight: 400;
}

.A1ChooseClassMeta>h2 {
    font-size: 42px;
    font-weight: 600;
}

.A1ChooseClassMeta>a {
    padding: 8px 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

/* book class section  */
.A1ChooseClassPrice {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    overflow: hidden;
}

.A1ChooseClassPrice>h2 {
    font-size: 26px;
    font-weight: 500;
}

.A1ChooseClassPrice>p,
.A1ChooseClassPrice>strong,
.A1ChooseClassPrice>span,
.A1ChooseClassPrice>h3 {
    font-size: 18px;
}

/* .A1ChooseClassPrice>span {
    font-size: 16px;
    max-width: 70%;
} */

.A1ChooseClassPrice>p {
    text-decoration: line-through;
}

.A1ChooseClassPrice>a {
    padding: 8px 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.A1CCAlignedPrice {
    display: grid;
    grid-template-columns: minmax(0, 81px) minmax(0, 1fr);
    align-items: center;
    gap: 5px;
}

.A1CCAlignedPrice>b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.A1CCInfoText {
    font-size: 15px;
    color: #111;
    font-weight: 600;
}

/* best learning section  */
.A1BestLearning {
    width: 100%;
    min-height: 100vh;
}

.A1BestLearningAbsData {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4445;
    gap: 50px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.A1BestLearningPart1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    overflow: hidden;
    padding: 20px;
}

.A1BestLearningPart1>h2 {
    width: 80%;
    font-size: 60px;
    color: #38B6FF;
    font-weight: 600;
}

.A1BestLearningPart1>img {
    width: 80%;
}

.A1BestLearningPart2 {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.A1BLPart2Item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 75%;
}

.A1BLPart2Item .A1BLHeading {
    font-size: 24px;
    font-weight: 500;
    color: #333;

}

.A1BLPart2Item>p {
    color: #38B6FF;
    font-size: 20px;
    font-weight: 500;
}


/* a1 features   */
.A1FeaturesSection {
    min-height: 100vh;
    width: 100%;
    gap: 50px;
}


.A1FeaturesAbsData {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4445;
    gap: 50px;
    padding: 40px;
}

.A1FeaturesAbsData>.heading {
    font-size: 45px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
}

.A1FeaturesAbsData>.heading>span {
    color: #38B6FF;
}

.A1FeaturesGrid {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.A1FeatureItem {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 20px 0;
}

.A1FeatureItem>h4 {
    font-size: 22px;
    font-weight: 500;
}

.A1FeaturedItemImg {
    height: 200px;
    aspect-ratio: 1;
    background-color: #38B6FF;
    border-radius: 544px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.A1FeaturedItemImg>img {
    width: 70%;
}

.A1BookSeat {
    padding: 12px 40px;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}


/* quality section  */
.A1QualitySection {
    min-height: 100vh;
}

.A1QualityAbsData {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4445;
    gap: 50px;
}

.A1QualityAbsData>h2 {
    font-size: 60px;
    font-weight: 400;
}

.A1QualityAbsData>p.A1QualityBg,
.A1QualityAbsData>p.A1QualityText {
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
    width: 80%;
    text-transform: uppercase;
    text-align: center;
}

.A1QualityAbsData>p.A1QualityBg {
    background-color: #38B6FF;
    color: white;
    z-index: 4;
}

.A1QualityAbsData>p.A1QualityText {
    color: #38B6FF;
}

/* reserver seat  */
.A1ReserveSeat {
    min-height: 100vh;
    overflow: hidden;
}

.A1ReserveAbsData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.A1ReserverBlobTL1,
.A1ReserverBlobTL2,
.A1ReserverBlobTL3,
.A1ReserverBlobTL4 {
    position: absolute;
    width: 500px;
    overflow: hidden;
}

.A1ReserverBlobTL1 {
    top: -50px;
    left: -120px;
    transform: rotateZ(-10deg);
}

.A1ReserverBlobTL3>img,
.A1ReserverBlobTL1>img {
    opacity: 0.65;
}

.A1ReserverBlobTL2 {
    top: -100px;
    left: -120px;
}

.A1ReserverBlobTL3 {
    right: -150px;
    bottom: -100px;
}

.A1ReserverBlobTL4 {
    right: -150px;
    bottom: -140px;
}

.A1ReserveSeatHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.A1ReserveSeatHeader>h2 {
    font-size: 60px;
    line-height: 60px;
}

.A1ReserveSeatHeader>h3 {
    font-size: 20px;
    font-weight: 500;
}

.A1ReserveClasses {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.A1ReserveClassItem {
    border: 1px solid #666;
    border-radius: 30px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #8AD2F5;
    width: 450px;
}

.A1ReserveMeta {
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
    border: 1px solid #666;
    border-top: none;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.A1ReserveMeta>h3 {
    font-size: 40px;
    font-weight: 500;
}



.A1ReserveMeta>p {
    font-size: 30px;
    font-weight: 500;
    color: rgb(206, 0, 0);
    border-bottom: 1px solid rgb(206, 0, 0);
}

.A1ReserveKeys {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.A1ReserveKeys>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.A1ReserveKeys>div>svg {
    color: white;
    font-size: 35px;
}

.A1ReserveKeys>div>p {
    font-size: 24px;
    font-weight: 500;
}

.A1ReserverEnrollNow {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.A1ReserverEnrollNow>a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
}


/* faq section  */
/* .A1FaqSection {
} */

.A1FaqAbsData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    gap: 50px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

.A1FaqAbsData>h2 {
    font-size: 45px;
    font-weight: 500;
}

.A1FaqQueMap {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.A1FaqQueItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.A1FaqQuestion {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 40px) minmax(0, 1fr) minmax(0, 50px);
    gap: 15px;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
}

.A1FaqQuestion>img {
    height: 35px;
    aspect-ratio: 1;
}

.A1FaqQuestion>h3 {
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.A1FaqQuestion>svg {
    font-size: 35px;
    transition: all .5s ease;
}
.A1FaqQuestion>svg.svgOpen {
    transform: rotate(-180deg);
}

.A1FaqAnswer {
    padding: 0 10px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
}

.A1FaqAnswer>p {
    font-size: 20px;
    color: #777;
}

.A1FaqAnswer.open {
    height: 100px;
    padding: 10px;
}

.A1FaqAnswer.close {
    height: 0;
}


.A1FaqEnrollNow {
    padding: 12px 20px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 600;
}


/* contact us section  */
.A1ContactSection {
    padding: 50px 0 150px 0;
    width: 100%;
    position: relative;
    background-image: url(https://letslearn-storage.s3.ap-south-1.amazonaws.com/landing/books.webp);
}

.A1ContactBackground {
    background-color: #8AD2F5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .95;
}

.A1ContactAbsData {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4445;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.A1ContactParts {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.A1ContactPart1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.A1ContactPart1>h4 {
    font-size: 24px;
    font-weight: 500;
}

.A1ContactPart1>p {
    font-size: 20px;
}

.A1MailAndPhone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.A1MailAndPhone>a {
    font-size: 20px;
}

.A1SocialIcons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.A1SocialIcons>a {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.A1SocialIcons>a>svg {
    color: rgb(255, 255, 255);
}


.A1ContactPart2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.A1InputLabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: flex-start;
}

.A1InputLabel>label {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.A1InputLabel>label>svg {
    color: rgb(212, 5, 5);
    margin-top: 5px;
}

.A1InputLabel>textarea,
.A1InputLabel>input {
    border: 2px solid #222;
    outline: none;
    background: transparent;
    width: 100%;
    resize: none;
    padding: 7px 10px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.A1ContactFormSubmit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.A1ContactFormSubmit>button[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 8px 40px;
    font-size: 18px;
    font-weight: 500;
}


/* register btn  */
.A1FixedRegister {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 4545;
}

.A1FixedRegister>.A1RegBtn {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgb(255, 0, 255), rgb(135, 29, 235));
    color: white;
    border-radius: 500px;
    animation: blinking 2s ease-in-out infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--poppins);
    gap: 4px;
}

.A1RegBtn>.A1RegTxt {
    font-size: 25px;
    line-height: 28px;
}

.A1RegBtn>.A1HurryTxt {
    font-size: 12px;
    line-height: 10px;
}

.A1RegBtn>.A1LimTxt {
    font-size: 10px;
    line-height: 15px;
}

@keyframes blinking {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(0.8);
    }

    10% {
        transform: scale(1.2);
    }

    15% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1.3);
    }

    30% {
        transform: scale(1.1);
    }
}


@media only screen and (max-width: 700px) {
    .academi1Navbar {
        padding: 0 20px;
    }

    .A1NavDiv1>img {
        height: 60%;
    }

    .A1NavDiv2>.registerBTN {
        font-size: 14px;
        padding: 15px 10px;
    }

    .A1NavTitle {
        display: none;
    }

    .A1HeroSection {
        padding: 30px 20px;
        gap: 50px;
    }

    .A1HeroPart1>p {
        font-size: 22px;
    }

    .A1HeroPart2>h2 {
        font-size: 30px;
    }

    .A1HeroPart2>h4 {
        font-size: 22px;
    }

    .enrollNowA1Hero {
        font-size: 16px;
        padding: 10px 20px;
    }


    /* about us  */
    .A1AboutUsSection {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        min-height: auto;
    }

    .A1AboutUsPart1 {
        display: none;
        padding: 0;
    }

    .A1AboutFixedCorner {
        display: none;
    }

    .A1AboutUsPart2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .A1AboutUsPart2>h2 {
        font-size: 40px;
        font-weight: 600;
        text-shadow: none;
    }

    .A1AboutUsPart2>p {
        max-width: 100%;
        font-size: 20px;
        font-weight: 400;
    }

    .readMoreBtn {
        font-size: 20px;
        font-weight: 500;
        padding: 10px 20px;
    }


    /* choose class section  */
    .A1ChooseClassAbsData {
        padding: 30px 20px 0 20px;
        gap: 30px;
    }

    .A1ChooseClassGrid {
        width: 100%;
    }

    .A1ChooseClassSection .A1ChooseClassHeader {
        font-size: 30px;
    }

    .A1ChooseClassGrid {
        grid-template-columns: minmax(0, 1fr);
        gap: 30px;
    }

    .A1ChooseClassItem {
        height: 400px;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: none;
    }

    .A1ChooseClassItem.A1BookClass {
        height: 500px;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1.4fr);
        grid-template-columns: none;
    }

    .A1ChooseClassMeta {
        gap: 5px;
    }

    .A1ChooseClassMeta>h3 {
        font-size: 18px;
    }

    .A1ChooseClassMeta>h2 {
        font-size: 22px;
    }

    .A1ChooseClassMeta>a {
        font-size: 16px;
    }

    /* best learning exp  */
    .A1BestLearningAbsData {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    .A1BestLearningPart1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .A1BestLearningPart1>h2 {
        width: auto;
        font-size: 28px;
        white-space: nowrap;
    }

    .A1BestLearningPart1>h2>br {
        display: none;
    }

    .A1BestLearningPart2 {
        padding: 0;
    }

    .A1BLPart2Item {
        max-width: 100%;
    }

    .A1BLPart2Item>p {
        width: 100%;
    }

    /* qualities  */
    .A1FeaturesAbsData {
        padding: 20px;
        gap: 30px;
    }

    .A1FeaturesAbsData>.heading {
        font-size: 35px;
    }

    .A1FeaturesGrid {
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;
    }

    .A1FeatureItem {
        padding: 10px;
    }

    /* qualities  */
    .A1QualitySection {
        min-height: auto;
    }

    .A1QualityAbsData {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 20px;
        gap: 30px;
    }

    .A1QualityAbsData>h2 {
        font-size: 30px;
        font-weight: 500;
    }

    .A1QualityAbsData>p.A1QualityBg,
    .A1QualityAbsData>p.A1QualityText {
        font-size: 18px;
        width: 100%;
        font-weight: 500;
    }

    /* reserve seats sec  */
    .A1ReserveSeat {
        min-height: auto;
        padding: 50px 20px;
    }

    .A1ReserveClasses {
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .A1ReserveAbsData {
        gap: 40px;
    }

    .A1ReserveSeatHeader>h2 {
        line-height: 30px;
        font-size: 30px;
        font-weight: 600;
    }

    .A1ReserveClassItem {
        width: 100%;
    }

    .A1ReserveMeta {
        padding: 30px 0;
    }

    .A1ReserveMeta>h3 {
        font-size: 24px;
    }

    .A1ReserveMeta>p {
        font-size: 24px;
    }

    .A1ReserveKeys>div>svg {
        font-size: 20px;
    }

    .A1ReserveKeys>div>p {
        font-size: 20px;
    }

    .A1ReserverBlobTL1,
    .A1ReserverBlobTL2,
    .A1ReserverBlobTL3,
    .A1ReserverBlobTL4 {
        width: 250px;
    }

    /* faq section  */
    .A1FaqSection {}

    .A1FaqAbsData {
        gap: 50px;
        padding: 50px 20px;
    }

    .A1FaqAbsData>h2 {
        font-size: 24px;
        font-weight: 500;
    }

    .A1FaqQueMap {
        width: 100%;
        gap: 20px;
    }

    .A1FaqQueItem {
        gap: 5px;
    }

    .A1FaqQuestion {
        padding: 0;
        height: auto;
        grid-template-columns: minmax(0, 30px) minmax(0, 1fr) minmax(0, 0px);
        gap: 5px;
        align-items: flex-start;
    }

    .A1FaqQuestion>img {
        height: 25px;
    }

    .A1FaqQuestion>h3 {
        font-size: 18px;
        white-space: normal;
    }

    .A1FaqQuestion>svg {
        display: none;
    }

    .A1FaqAnswer {
        margin: 0;
    }

    .A1FaqAnswer>p {
        font-size: 16px;
    }

    .A1FaqAnswer.open {
        height: 120px;
    }

    /* contact us  */
    .A1ContactSection {
        padding: 30px 20px 100px 20px;
    }

    .A1ContactParts {
        width: 100%;
        grid-template-columns: minmax(0, 1fr);
        gap: 50px;
    }

    .A1ContactPart1,
    .A1ContactPart2 {
        padding: 0;
    }

    /* fixed button register anim  */
    .A1FixedRegister {
        bottom: 20px;
        right: 20px
    }

    .A1RegBtn>.A1HurryTxt {
        font-size: 10px;
        line-height: 10px;
    }

    .A1RegBtn>.A1RegTxt {
        font-size: 20px;
        line-height: 16px;
    }

    .A1RegBtn>.A1LimTxt {
        font-size: 10px;
        line-height: 14px;
    }


}

@media only screen and (max-width: 600px) {
    .A1NavTitle {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .A1FeaturesAbsData>.heading {
        font-size: 25px;
    }
    .A1ChooseClassItem.A1BookClass {
        height: 600px;
    }
    .A1FeatureItem>h4 {
        text-align: center;
    }
}