.userQueryPage{
    padding: 0 25px;
}
.aboutQueryPage{
    padding: 0 25px;
}
.aboutQueryGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    gap: 30px;
}
.queryCardBody{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}